 
*{
    margin: 0%;
    padding: 0%;
}

 .box{
     border: 2px solid white;
     text-align: center;
     padding: 25px;
     width: 100%;
     height: 75px;
     font-size: 20px;
     background-color: blueviolet;
 }
 
 .box1st{
     border: 2px solid white;
     text-align: center;
     /* place-items: center; */
     padding: 25px;
     width: 100%;
     height: 65px;
     font-size: 20px;
     background-color:rgb(162, 230, 61);
 }
 
 .box2nd{
     padding: 25px;
     text-align: center;
     border: 2px solid white;
     width: 20%;
     height: 240px;
     float: left;
     font-size: 20px;
     background-color: grey;
 }
 
 .box3rd{
     padding: 25px;
     text-align: center;
     border: 2px solid white;
     width: 76%;
     height: 240px;
     font-size: 20px;
     background-color: rgb(228, 191, 122);
 }
 
 .box4th{
     padding: 25px;
     text-align: center;
     border: 2px solid white;
     width: 20%;
     height: 240px;
     margin-left: 80%;
     margin-top: -294px;
     font-size: 20px;
     background-color: grey;
 }
 
 .box5th{
     border: 2px solid white;
     text-align: center;
     padding: 25px;
     width: 100%;
     height: 75px;
     font-size: 20px;
     background-color: blueviolet;
 }