    .div1{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.div2{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color:palegreen;
    position: relative;
    right: 20px;
}

.div3{
    margin-top: 32px;
    height: 50px;
    width: 50px;
    background-color: palevioletred;
    position: relative;
    left: 30px;
}

.div4{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: peru;
    position: relative;
    right :50px;
}

.div5{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: plum;
    position: relative;
    right:  70px;
}

.div6{
    margin-top: 32px;
    height: 50px;
    width: 50px;
    background-color: palegoldenrod;
    position: relative;
    left: 30px;
}

.div7{
    margin-top: 32px;
    height: 50px;
    width: 50px;
    background-color: pink;
    position: relative;
    left: 20px;
}

.div8{
    margin-top: 32px;
    height: 50px;
    width: 100px;
    background-color: darkcyan;
    position: relative;
    left: 30px;
}


.div9{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(77, 216, 77);
    position: relative;
    right: 90px;
}

.div10{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(223, 87, 87);
    position: relative;
    right: 110px;
}


.div11{
    margin-top: 60%;
    height: 50px;
    width: 50px;
    background-color: rgb(104, 104, 241);
    position: relative;
    left: 20px;
}


.div12{
    margin-top: 63%;
    height: 50px;
    width: 50px;
    background-color: rgb(241, 151, 41);
    position: relative;
    left: 20px;
}

.div13{
    margin-top: 63%;
    height: 50px;
    width: 50px;
    background-color: rgb(211, 90, 211);
    position: relative;
    left: 20px;
}

.div14{
    margin-left: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(199, 247, 104);
    position: relative;
    right: 140px;
}
            