*{
    margin: 10px;
    margin: 5px;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

.grid-container{
     height: 95%;
    display: grid;
    color: white;
    grid-template-areas:
    "Holy Holy Holy Holy"
    "Nav Main Main Sidebar"
    "footer footer footer footer";
}

.grid-item{
    min-height: 100px;
}
.item1{
    background-color: #0066ff;
    height: 5vh;
    grid-area: Holy;
    background-color: rgba(0, 132, 255, 0.966);
}
.item1 h6{
    padding-top: 40px;
}

.item2{
    background-color: rgba(110, 174, 235, 0.966);
    height: 70vh;
    grid-area: Nav;
    background-color: rgb(93, 154, 211);
}
.item2 h6{
    padding-top: 180px;
}

.item3{
    grid-area: Main;
    background-color: rgb(170, 163, 163);
}

.item3{
    background-color: grey;
    grid-area: Main;
}
.item3 h6{
    padding-top: 180px;
}

.item4{
    background-color: rgba(110, 174, 235, 0.966);
    grid-area: Sidebar;
    background-color: rgb(93, 154, 211);
}
.item4 h6{
    padding-top: 180px;
}

.item5{
    background-color: #0066ff;
    height: 5vh;
    grid-area: footer;
}
.item5 h6{
    padding-top: 35px;
}
