.grid-container{
    width: 80%;
    height: 80vh;
    margin: 5% 10%;
    background-color: palegreen;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    /* row-gap: 20px; */
    /* column-gap: 20px; */
    gap: 20px;
}

.grid-item{
    /* width: 200px; */
    min-height:200px;
    background-color: palevioletred;
}

.grid-item-1{
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-column-end: -1; */
}